.ancho{
    margin: 0 auto;
    width: 80%;
}

.marronLetra{
    color:#A4581B;
}

.bold {
    font-weight: bold;
}

.btnCv:hover {
    transform: scale(1.05);
    transition: 1s;
    background-color: #A4581B !important;
    color: white !important;
}

.cuadrado {
    background-color: #A4581B;
    padding: 0.2rem 0.8rem;
    font-size: 2rem;
    color: white;
    border-radius: 10%;
    margin-right: 0.2rem;
}

.text-justify{
    text-align: justify;
}

.imgCertificado{
    height: 25rem;
    width: 40rem;
}

.centrado{
    margin: 0 auto;
}

.imagePerfil{
    border-radius: 3em;
    height: 250px;
    width: 302px;
}

.textoGris{
    color: #696466;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    font-size: large;
}