.color{
    background-color: black !important;
}

.height{
    height: 100vh;
}

.fondo{
   color: #F4F4F4 !important;
}

button:hover {
    transform: scale(1.05);
    transition: 0.1s;
    color: #A4581B;
}

.gris{
    color: #696466;
    letter-spacing: 0.2rem;
}

.titleBrown{
    color: #A4581B;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.x-large{
    font-size: large;
}

@media(min-width:760px){
    .fontSize{
        font-size: 4rem;
    }
    .fontSizeB{
        font-size: 2rem;
    }
}
