.fondoMarron{
    background-color: #A4581B;
}

.tituloEscribi{
    color: white;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    letter-spacing: 0.2rem;
}

.center{
    align-items: center;
    text-align: center;
}


.otherBrown{
    background-color: #bd651c;
    border-radius: 10%;
    border: none;
}

.otherBrown:hover{
    background-color: white;
    color: #bd651c;
    font-weight: bold;
}

.none{
    border: none;
}

.formulario{
    max-width: 42rem !important;
}

.tercerInput{
    height: 10rem;
}

@media(max-width:760px){
    .formulario{
        width: 20rem;
    }
}