.menu-flex{
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    padding:0.1 0.5;
}

nav{
    background-color: #A4581B !important;
}


.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    transition: 0.3s;
}

.marron{
    background-color: #A4581B !important;
    opacity: 0.99;
}

.white{
    color: white !important;
}

.margin{
    align-items: center;
}
    
.black{
    color: #000000;
}

.minAncho{
    min-width: 100px;
    max-width: 130px;
    text-align: center;
    white-space: nowrap;
}

