nav{
    margin: 0 auto;
    width: 80% !important;
}

.nav-link {
    text-decoration: none;
    padding:1px 1px;
}



.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    color :#A4581B;
    transition: 0.3s;
}

.marron{
    background-color: #A4581B !important;
    opacity: 0.99;
}

.white{
    color: white !important;
}

.margin{
    align-items: center;
}
    
.black{
    color: #000000;
}

.minAncho{
    min-width: 100px;
    max-width: 130px;
    text-align: center;
    white-space: nowrap;
}

.btnChange{
    border: none;
    background-color: #e2e2e2;
}

.btnChange:hover{
    background-color: #000000;
    color: white;
}
