.track{
    width: 100%;
    background-color: #EBEBEC;
    height: 0.3rem;
    margin-top: 0.2rem;
}

.dos{   
    background-color: #A4581B;
    width: 80%;
    height: 0.3rem;
}

.tres{
    width: 75%;
}

.cuatro {
    width: 70%;
}

.cinco {
    width: 65%;
}

.flexible{
    display: flex !important;
    justify-content: space-between !important;
}

.fondoGris{
    background-color: rgb(240, 237, 237);
}

.dale{
    display:flex !important
}

.ancho{
    width: 100% !important;
}

circle {
    fill: none;
    stroke: #d5d5d7;
    stroke-width: 5px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transform-origin: 50%;
    transform: rotate(-90deg);
    stroke-linecap: round;
}

.porcentajeUno{
    stroke: #A4581B;
    stroke-dashoffset: calc(440 - (440*95) / 100);
}

.porcentajeDos {
    stroke: #A4581B;
    stroke-dashoffset: calc(440 - (440*82) / 100);
}

.porcentajeTres {
    stroke: #A4581B;
    stroke-dashoffset: calc(440 - (440*67) / 100);
}

.porcentajeCuatro {
    stroke: #A4581B;
    stroke-dashoffset: calc(440 - (440*86) / 100);
}
.circulo{
    position:relative;
}

.circulo span {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: #201F20;
}