.ancho{
    margin: 0 auto;
    width: 80%;
}

.botonCorazon{
    border: none;
    background-color: transparent;
    
}

img{
    height: 100%;
    width: 100%;
}

.colorGris{
    color: #696466;
    letter-spacing: 0.1em;
}

.tamaño{
    width: 1.5rem;
    height: 1.5rem;
}

.botonCorazon:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

.imgHover:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: 1s;
}

.proyecto {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.proyecto img {
    width: 350px; 
    margin-right: 20px; 
}

.proyecto p {
    flex: 1; 
    margin: 0; 
}